:root {
  --fileURL: url("");
}

body {
  background-color: #5e35b1;
}

.header {
  width: 100%;
}

.brand-logo {
  margin-left: 25px;
}

.content {
  display: flex;
  justify-items: space-between;
  width: 100%;
  padding-top: 10px;
}

.fib-container {
  zoom: 0.845;
  background-color: #5e35b1;
  width: 51%;
  height: 80%;
  margin-left: 25px;
}

.fib div, .fib {
  box-sizing: border-box;
  border-left: 0.5em solid  #ea80fc ;
  margin-top: -0.5em;
  border-top: 0.3090235em solid #ea80fc ;
  border-radius: 100% 0 0 0;
  width: 1em;
  height: 1em;
  position: absolute;
  right: -1em;
  font-size: 0.6180469em;
  transform: rotate(90deg);
  background: white;
  border-image: var(--fileURL) 40% round;
}

.fib {
  font-size: 600px;
  position: relative;
  right: 0;
  margin-top: 65px;
  margin-left: 0;
  transform: rotate(0);
}

.inputForm {
  margin-left:auto;
  margin-right: 25px;;
  margin-top: 39px;
  width: 35%;

}
